  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para_tag span{
    white-space: pre-line;

  }

  canvas{

    border-radius: 50px;
    border: 15px solid cyan;
    animation-name: example;
    animation-duration: 4s;  
    margin-top: 250px;
    animation-iteration-count: infinite;
    margin-bottom: 100px; 
  }
  @keyframes example
{
  from{
    box-shadow:10px 10px 30px blue;
  }
  to{
    box-shadow:10px 10px 30px red;
  }
}